body{
  background-color: rgb(78, 74, 74);
}

.to-do-list {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  margin-top: 100px;
}

.h1 {
  font-size: 4rem;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: rgb(3, 150, 3);
  font-family: 'Courier New', Courier, monospace;
}

.add-button:hover {
  background-color: rgb(86, 230, 86);
}


.delete-button {
  background-color: rgb(252, 7, 7);
}

.delete-button:hover {
  background-color: rgb(168, 103, 92);
}

.move-button {
  background-color: rgb(7, 252, 252);
}

.move-button:hover {
  background-color: rgb(92, 114, 133);
}

.edit-button {
  background-color: rgb(46, 36, 143);

}

.edit-button:hover {
  background-color: rgb(95, 90, 134);
}

.cancel-button, .edit-button, .save-button {
  background-color: rgb(7, 252, 252);
}

.cancel-button:hover, .edit-button:hover, .save-button:hover {
  background-color: rgb(92, 114, 133);
}




input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid honeydew;
  border-radius: 10px;
  color: rgb(68, 54, 54);
  font-family: 'Courier New', Courier, monospace;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  border: 3px solid grey;
  border-radius: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
}

.text{
  flex: 1;
}


.delete-button, .move-button, .save-button, .cancel-button, .edit-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}